﻿@using System.Security.Claims
@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var currentArea = ViewContext.RouteData.Values["area"].ToString().ToLower();
    var currentAction = ViewContext.RouteData.Values["action"].ToString().ToLower();
}

<!-- menu -->
<div class="menu">
    <div class="menu-header">
        <a href="index.html" class="menu-header-logo">
            <img src="https://vetra.laborasyon.com/assets/images/logo.svg" alt="logo">
        </a>
        <a href="index.html" class="btn btn-sm menu-close-btn">
            <i class="bi bi-x"></i>
        </a>
    </div>
    <div class="menu-body">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
                <div class="avatar me-3">
                    <img src="~/admin/assets/images/user/man_avatar3.jpg"
                         class="rounded-circle" alt="image">
                </div>
                <div>
                    <div class="fw-bold">Timotheus Bendan</div>
                    <small class="text-muted">Sales Manager</small>
                </div>
            </a>

        </div>
        <ul>
            <li class="menu-divider">Menu</li>
            <li>
                <a class="@((currentController == "dashboard" && currentArea == "admin") ? "active" : "")"
                   asp-action="Index" asp-controller="Dashboard" asp-area="Admin">
                    <span class="nav-link-icon">
                        <i class="bi bi-bar-chart"></i>
                    </span>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a class="@((currentController == "category" && currentArea == "admin") ? "active" : "")"
                   asp-action="Index" asp-controller="Category" asp-area="Admin">
                    <span class="nav-link-icon">
                        <i class="bi bi-bookmark"></i>
                    </span>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a class="@((currentController == "vacancy" && currentArea == "admin") ? "active" : "")"
                   asp-action="Index" asp-controller="Vacancy" asp-area="Admin">
                    <span class="nav-link-icon">
                        <i class="bi bi-card-list"></i>
                    </span>
                    <span>Vacancies</span>
                </a>
            </li>
            <li>
                <a class="@((currentController == "company" && currentArea == "admin") ? "active" : "")"
                   asp-action="Index" asp-controller="Company" asp-area="Admin">
                    <span class="nav-link-icon">
                        <i class="bi bi-building"></i>
                    </span>
                    <span>Companies</span>
                </a>
            </li>
            <li>
                <a class="@((currentController == "user" && currentArea == "admin") ? "active" : "")"
                   asp-action="Index" asp-controller="User" asp-area="Admin">
                    <span class="nav-link-icon">
                        <i class="bi bi-people-fill"></i>
                    </span>
                    <span>Users</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- ./  menu -->
